<!DOCTYPE html>

<html lang="ru">
<head>

<meta charset="UTF-8">

<title> Netology diplom test</title>
</head>

<body>

<big><big>Netology</big></big>
<br>
diplom test
<br>
You are on {{ ansible_default_ipv4.address }}
</body>

</html>
