[web-servers]
vm-1 ansible_host=${vm-1}
vm-2 ansible_host=${vm-2} 

[zabbix]
${zabbix} 

[elastic]
${elastic} 

[kibana]
${kibana} 

[bastion]
${bastion_nat}

[nodes:children]
web-servers
zabbix
elastic
kibana

[nodes:vars]
ansible_ssh_common_args='-o ProxyCommand="ssh -W %h:%p -q user@${bastion_nat}"'

[all:vars]
ansible_connection=ssh
ansible_user=user
zabbix_server_ip=${zabbix_nat}
vm_1_ip=${vm-1}
vm_2_ip=${vm-2}
elastic_ip=${elastic}
kibana_ip=${kibana}
bastion_ip=${bastion}

